<footer class="footer-28 py-5">
  <div class="container py-lg-3">
    <div class="row footer-top-28">
      <div class="col-lg-6 footer-list-28 pr-lg-5 mt-5">
        <h6 class="footer-title-28">Contact information</h6>
        <p class="pr-lg-5 fa fa-phone text-light">  055 - 9057172</p><br>
        <p class="fa fa-phone text-light">  050 - 4667656</p><br>
        <p class="fa fa-envelope text-light" style="font-size:smaller;">  alqazistudio@gmail.com</p><br>
        <a href="https://www.instagram.com/invites/contact/?i=1jc4wr0xde1sm&utm_content=qwstft6" title="instagram">
          <p class="fa fa-instagram text-light" style="font-size:smaller;"> https://www.instagram.com/al_qazi_studio_/</p>
        </a>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-12 footer-list-28 mt-5">
            <h5 class="text-light mb-2" style="font-weight: bold;">Business Hours</h5>
            <ul>
              <li class="text-white" style="font-family: monospace;">MON : 8:00 AM-2:00 PM - 4:00 PM-10:30 PM</li>
              <li class="text-white" style="font-family: monospace;">TUE : 8:00 AM-2:00 PM - 4:00 PM-10:30 PM</li>
              <li class="text-white" style="font-family: monospace;">WED : 8:00 AM-2:00 PM - 4:00 PM-10:30 PM</li>
              <li class="text-white" style="font-family: monospace;">THU : 8:00 AM-2:00 PM - 4:00 PM-10:30 PM</li>
              <li class="text-white" style="font-family: monospace;">FRI : 8:00 AM-2:00 PM - 4:00 PM-10:30 PM</li>
              <li class="text-white" style="font-family: monospace;">SAT : 8:00 AM-2:00 PM - 4:00 PM-10:30 PM</li>
              <li class="text-white" style="font-family: monospace;">SUN : 8:00 AM-2:00 PM - 4:00 PM-10:30 PM</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="w3l-forms-9 px-4 mt-3" id="newsletter">
      <div class="main-w3 py-4">
        <div class="container-fluid py-lg-3 py-2">
          <div class="row align-items-center">
            <div class="main-midd col-lg-6">
              <h4 class="title-head">GET IN TOUCH</h4>
              <p>You can share your Experience in Feedback!.</p>
            </div>
            <div class="main-midd-2 col-lg-6 mt-lg-0 mt-4">
              <form action="/contact" method="GET" class="rightside-form">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="Enter your email"
                required/>
                <button class="btn" type="submit">ContactUs</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
