<%- include('../partials/header.ejs') %>

<!-- pages -->
<section class="w3l-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a href="/">Home</a></li>
      <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About</li>
    </ul>
  </div>
</section>

<!-- page end -->

<section class="w3l-index3 bg-grey">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-3">
        <div class="row">
          <div class="col-lg-6 pr-lg-5">
            <img src="../images/class4.png" alt="" class="img-fluid radius-image">
          </div>
          <div class="col-lg-6 mt-lg-0 mt-md-5 mt-4 about-right-faq align-self">
            <h1 class="hny-title text-center mb-2" style="color:#6115b8;">About Us</h1>
            <h1><p style="font-weight: bold; color: black;" class="fs-2">
              Al’<span class="sub-spl" style="color:#6115b8;">Q</span>azi
            </p></h1>
            <p class="title-subhny">Who we are</p>
            <p class="mt-3">Our venture Started in 2018 named "Al'Qazi",
              and We are Located in Qussaidat,opposite public services department - Ras al khaimah - United Arab Emirates
              we are fully providing photography all Services,and Our 
              main Aim is Need to give the Customers best results and Satisfaction,
              also left With Happy faces..Our team of Professional Photographers
              are here to  capture your happy faces.</p>
              <p>We are Specialised in PhotoLamination,Old photo we can generate into modern photo's,
                Passport Size Photo setting ,CV creation for job Applients,and also providing the Cup printing
                we can Print any photo's in a Cup. We are using the modern technologies for Photoshoots.
              </p>
          </div>
          <div class="col-lg-6 mt-5 about-right-faq align-self order2">
            <h5 class="title-subhny">Why choose us</h5>
            <h4 class="hny-title mb-3" style="color:#6115b8;">Quality and Experienced Photographers.</h4>
            <p class="text-para">Our team of professional photographers has years of experience shooting
              people and products that capture our clients’ unique personality, show customer engagement
               and highlight product details. Since you can’t meet each potential new online lead in 
               person, professional, high-resolution photos are absolutely essential to making a positive
                first impression. </p>
          </div>
          <div class="col-lg-6 mt-md-5 mt-4 pl-lg-5">
            <img src="../images/class3.png" alt="" class="img-fluid radius-image">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- middle -->
  <div class="middle py-5">
    <div class="container py-xl-5 py-lg-3">
      <div class="welcome-left text-center py-md-3">
        <h3 class="mb-4">Capturing your most precious
          moments</h3>

        <p class="text-italic">Are you planning a special event? We will make it a part of the history.</p>
      </div>
    </div>
  </div>
  <!-- //middle -->
  <!--/team-->
  <section class="team-main text-center py-5">
    <div class="container py-md-5">
      <!-- <h5 class="title-subhny">Our Team</h5> -->
      <h3 class="hny-title">Our Team</h3>
      <div class="row mt-5 justify-content-center">
        <div class="col-md-4 col-sm-6 team-gd">
          <div class="box16">
            <img src="../images/nahas.JPG" alt=" " class="img-fluid radius-image">
            <div class="box-content">
              <h3 class="title-wthree">NAHAS  PARAMMAL</h3>

              <ul class="social social_media_w3layouts text-center">
                <li><a href="https://instagram.com/nahas10?igshid=NzAzN2Q1NTE=" class="find_instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 team-gd">
          <div class="box16">
            <img src="../images/adill.jpg" alt=" " class="img-fluid radius-image">
            <div class="box-content">
              <h3 class="title-wthree">MUHAMMED ADHIL</h3>

              <ul class="social social_media_w3layouts text-center ">
                <li><a href="https://www.instagram.com/invites/contact/?i=16f4ufx71bgpb&utm_content=3ayfes0" class="find_instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!--//team-->
  <%- include('../partials/footer.ejs') %>

