<%- include('../partials/header.ejs') %>


<section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="/">Home</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Services</li>
      </ul>
    </div>
  </section>
  <!-- //w3l-breadcrumb-->
  <!-- services page block 2 -->
  <section class="w3l-features py-5" id="features">
    <div class="call-w3 py-lg-5 py-md-4">
      <div class="container">
        <div class="row main-cont-wthree-2">

          <div class="col-lg-6 feature-grid-right mb-lg-0 mb-5 pr-lg-5">
            <img src="../images/team1.jpg" class="img-fluid radius-image" alt="" />
          </div>
          <div class="col-lg-6 feature-grid-left">
            <h3 class="hny-title mb-4" style="color: #6115b8;">We Provide Quality photography services</h3>
            <p class="text-para">Our team of professional photographers has years of experience shooting
               people and products that capture our clients’ unique personality, show customer engagement
                and highlight product details. Since you can’t meet each potential new online lead in 
                person, professional, high-resolution photos are absolutely essential to making a positive
                 first impression. </p>
            <ol class="w3l-right mt-4 mb-0">
              <li>Full-day or half-day photo shoots with all necessary equipment</li>
              <li>Photo editing, color correction and retouching</li>
              <li>Professional lighting setup.</li>
              <li>Professional camera and lens kits</li>
            </ol>

            <a href="/contact" class="btn btn-primary btn-style mt-md-5 mt-4">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //services-1-->
    <!-- middle -->
    <div class="middle py-5">
      <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left text-center py-md-3">
          <h3 class="mb-4">We Provide Quality photography services</h3>
         
          <p class="text-italic">Are you planning a special event? We will make it a part of the history.</p>
        </div>
      </div>
    </div>
    <!-- //middle -->
  <!-- /services-2-->
  <section class="w3l-bottom-grids-6 py-5">
    <div class="container pt-lg-3 pb-lg-5 py-md-4">
      <div class="grids-area-hny main-cont-wthree-fea row">
        <div class="col-lg-3 col-md-6 grids-feature mt-md-5 mt-4">
          <div class="area-box">
            <span class="fa fa-print"></span>
            <h4><a href="" class="title-head">
                Photo Lamination
              </a></h4>
            <p>We can frame your suggesting photo's..</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 grids-feature mt-md-5 mt-4">
          <div class="area-box">
            <span class="fa fa-gears"></span>
            <h4><a href="" class="title-head">Old Photo Restorations</a></h4>
            <p>Generate old photo's into modern photo's..</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 grids-feature mt-md-5 mt-4">
          <div class="area-box">
            <span class="fa fa-user"></span>
            <h4><a href="" class="title-head">Passport Size photo</a></h4>
            <p>Providing The Passport Size Photo's..</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 grids-feature mt-md-5 mt-4">
          <div class="area-box">
            <span class="fa fa-edit"></span>
            <h4><a href="" class="title-head">
                CV Creating
              </a></h4>
            <p>We Can Create the CV for Job Applications..</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 grids-feature mt-md-5 mt-4">
          <div class="area-box">
            <span class="fa fa-coffee"></span>
            <h4><a href="" class="title-head">
              Cup Printing</a></h4>
            <p>We Will Print your suggesting Photo's Into a Cup..</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 grids-feature mt-md-5 mt-4">
          <div class="area-box">
            <span class="fa fa-user-circle-o"></span>
            <h4><a href="" class="title-head">Portrait Photoshoot</a></h4>
            <p>We Providing the best Portrait shoots..</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <%- include('../partials/footer.ejs') %>